<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="com.example.app_name.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/template_logo"
        android:label="@string/template_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.StarSet"
        tools:targetApi="31">
        <!--主模块启动页-->
        <activity
            android:name="com.example.app_name.ActivityMain"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>